@import url(https://fonts.googleapis.com/css?family=Montserrat:400,800|Questrial);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800|Questrial|);

html{ 
    height: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Nutmeg Extra';
    src: url('./fonts/Nutmeg/Nutmeg-ExtraBold.woff2') format('woff2'),
        url('./fonts/Nutmeg/Nutmeg-ExtraBold.woff') format('woff');
        font-weight: 800;
    
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nutmeg Ultra';
    src: url('./fonts/Nutmeg/Nutmeg-UltraBlack.woff2') format('woff2'),
        url('./fonts/Nutmeg/Nutmeg-UltraBlack.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 900;

}

body{
    min-height: 100%;
    margin: 0;
    display: contents;
    font-family: 'Nutmeg Ulta', 'Nutmeg Extra';
}

button{
    outline:none;
}

.navbar{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: fixed;
}

#nav-btn{
    justify-self: flex-end;
    position: sticky;
    margin-right: 3%;
    margin-top: 30px;
}

#linkNavigator{
    border-bottom: 4px solid #00953a;
    font-size: 16px;
    color: #00953a;
}

.link{
    color: #00953a;
    border-bottom: 1px solid #00953a;
    font-family: Montserrat;
    font-size: 12px;
}

.wrapper{
    width: 100%;
    min-height: 100%;
    /* padding: 1%; */
    display: inline-flex;
}

.column{
    width: 100%;
    max-width: 50vw;
    min-width: 50vw;
    min-height: 100%;

}

.column:nth-child(odd){
    background-color: #00953a;
}

.error{
    font-family: montserrat;
    text-align: left;
    font-size: 13px;
    color:red;
    font-weight: normal;
}

/***********************************************/
/*******      Parte izquierda              *****/
/***********************************************/

.content{
    /* display: flex; */
    margin-top: 8%;
    margin-left: 20%;
    width: initial;
    background-color: #00953a;

}

.content div h1{
    color: #fed925;
    font-size: 41px;
    margin: 0;
}
.content div h3{
    color:white;
    margin: 0;
}
.inf{
    width: 30vw;
}

#yellow-banner{
    text-align: center;
    padding: 2%;
    background-color: #fed925;
    width: 105%;
    margin-top: 8%;
}

#yellow-banner h2{
    margin: 0;
    color: #5b6670;
    font-size: 1.8vw;
    font-weight: 800;
    padding-left: 10%;
}

.camion{
    margin-top: 13%;
    margin-left: 10%;
}
#camion-img{
    width: 60%;
    height: 60%;
}

.logo-transporte{
    margin-top: 7%;
    display: flex;
    width: 90%;
    justify-content: flex-end;
}
#transporte-img{
    width: 45%;
    height: 45%;
}

/***********************************************/
/*******      Parte derecha                *****/
/***********************************************/

.content-right{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.header-right-col{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    margin-top: 23px;
    margin-bottom: 23px;
    height: 85px;
}


#mi-pasaje-img{
    width: 50%;
}


.form-container{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    background-color: white;
    border-radius: 10px;
    border: .0001px soli;
    box-shadow:  0px 8px 30px #8f8f8f;
    justify-content: center;
    text-align: center;
}

.form{
    text-align: center;
    padding: 5%;
    width: 75%;
    margin: auto;
}
.form h2{
    color: #7c858c;
    font-size: 22px;
}


.footer-form{
    width: 100%;
    background-color: #f8f8f8;
    padding: 5%;
    border-radius: 0 0 10px 10px;


}

.footer-form h3{
    color: #7c858c;
    font-size: 17px;
}

#btn-form{
    margin-top: 15%;
    padding: 4% 6% 4% 6%;
    width: 62%;
    border-radius: 10px;
    border: 0 solid;
    background-color: #00953a;
    color: white;
    margin-bottom: 10px;
    font: 16px
    
}

.pointer:hover{
    cursor: pointer;

}

.btn-register{
    color: #00953a;
    background-color: #e2f0e3;
    border-radius: 15px;
    border: 0;
    padding: 3%;
    width: 55%;
    font-size: 18px;
    outline:none;
}

.btn-register:hover{
    background-color: #00953a;
    color: white
}

.input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
    padding: 2%;
}
label p {
    font-family: Montserrat;
    text-align: left;
    color: #7c858c;
    font-size: 9pt;
    font-weight: bold;
}

.input:focus{
    /* outline: 2px solid; */
    outline: none;
    border: 1px solid  #9ecaed;
    
    box-shadow: 0 0 1px 3px #9ecaed;
}

.verificacion-textbox{
    text-align: left;
    margin-top: 5px;
    font-family: 'Montserrat';
    font-size: 13px;
    color: #7c858c;
    font-weight: bold;
}

.hide{
    display: none;
}

#privacidadLabel{
    text-align: left;
}

/***********************************************/
/*******      View Verificacion            *****/
/***********************************************/

.verificacion{
    width: 100%;
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.verificacion-texto{
    padding: 10%;
    padding-top: 5%;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.verde{
    color: #00953a;

}
.verificacion-botones{
    text-align: center;
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 40%;
}
.verificacion-botones button{
    border-radius: 100%;
    padding: 15%;
    border: 0;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    width: 100px;
    height:  100px;
    font-size: 1rem;
    transition: 0.4s;
    outline:none;
}

.verificacion-botones button:hover{
    background-color: #fed925;
    transition: 0.4s;
    color: #00953a;
}

.verificacion-textbox a{
    color: #00953a;
    text-decoration: none;

}
.verificacion-textbox a:hover{
    color: #fed925;
    text-decoration: underline;

}
@media(max-width: 1530px){
    .inf{
        width: 35vw;
    }
}

@media(max-width: 780px){
    .wrapper{
        display: block;
    }
    .column:nth-child(odd){
        display: none;
    }
    .column{
        max-width: 100%;
        min-height: 0;
    }
    .content{
        display: none;
    }
    .content-right{
        width: 100%;
    }

    .header-right-col{
        margin-top: 13%;
        height: 100%;
    }
    .form{
        padding: 0;
        margin-bottom: 20px;
    }
    #btn-form{
        margin-top: 5%;
        width: 80%;
        padding: 2% 6% 2% 6%;
        font-size: 18px;
    }
    .form-container{
        width: 100%;
        box-shadow: none;
    }
    .footer-form {
        padding: 3%;

    }
    .footer{
        display: flex;
        background-color: #00953a;
        justify-content: center;
        height: 100%;
        padding: 1rem;
    }
}